html, body {
    margin : 0;
    padding : 0;
    }
    body {
    font : 73% "Trebuchet MS", Arial,  Helvetica, Tahoma, sans-serif;
    background : #fff;
    color : #555;
    }
                /*WRAP*/
    #wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    color : #555;
    background: #fff url('images/wrap_bg.jpg') repeat-x;
    }
                /*TOP BANNER*/
    #masthead {
    height:110px;
    padding: 0;
    margin-bottom: 0;
    }
                /*MAIN CONTAINER*/
    #container {
    width: 770px;
    border: 0px solid #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    padding: 0;
    line-height: 1.8em;
    }
                /*TOP NAVIGATION*/
    #menucontainer{position:relative;height:56px;color:#E0E0E0;background:#143D55;
    width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
    
    #menunav{position:relative;height:33px;font-size:12px;text-transform:uppercase;
    font-weight:bold;background:#fff url('images/menu_bg.gif') repeat-x bottom left;
    padding:0 0 0 20px;}
    
    #menunav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
    
    #menunav ul li{display:block;float:left;padding:0 1px;}
    
    #menunav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;
    padding:0 0 0 20px;height:33px;}
    
    #menunav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
    
    #menunav ul li a:hover{color:#fff;
    background:transparent url('images/menu_bg-OVER.gif') repeat-x bottom left;}
    
    #menunav ul li a:hover span{display:block;width:auto;cursor:pointer;}
    
    #menunav ul li a.current,#menunav ul li a.current:hover{color:#fff;
    background:#1D6893 url('images/menu_left-ON.gif') no-repeat top left;line-height:275%;}
    
    #menunav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;
    background:#1D6893 url('images/menu_right-ON.gif') no-repeat top right;height:33px;}
                /*MAIN CONTENT*/
    #content {
    padding: 0 1em 0 1em;
    margin: 0 320px 0 0;
    border-right: 1px solid #eee;
    }
                /*SIDEBAR*/
    #sidebar {
    float: right;
    width: 280px;
    margin-top: 0;
    padding: 0 1em 0 1em;
    }
                /*FOOTER*/
    #footer {
    clear: both;
    height: 50px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    border-top: 10px solid #143D55;
    color: #333;
    background: #4592BE;
    }
                /*TYPOGRAPHY*/
    h1 {
    margin: 0;
    padding: 20px 0 20px 25px;
    font-size: 175%;
    letter-spacing: 5px;
    color: #143D55;
    }
    h2 {
    margin: 0;
    padding: 20px 0 20px 0;
    font-size: 160%;
    letter-spacing: 3px;
    color: green;
    }
    blockquote {
    padding: 15px;
    font-weight : bold;
    font-style : italic;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    color : #b29b35;
    }
                /*LINKS*/
    a:link, a:visited {
    color : #bbb;
    background : inherit;
    text-decoration : underline;
    }
    a:hover {
    color : #143D55;
    background : inherit;
    text-decoration : none;
    }
                /*IMAGES*/
    .right {
    float: right;
    border: 0px solid #656C4A;
    margin: 5px 0 10px 0;
    padding: 10px;
    }
                /*SEARCH BAR*/
    legend {
    color: green;
    }
    input {
    background: #eee;
    }

    .b-menu__item {
        padding: 10px !important;
        width: 100px;
        font-size: 18px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin-right: 4px;
        margin-left: 4px;
        text-align: center;
    }

    .card:hover {
        cursor: pointer;
    }